*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
   display: grid;
   grid-template-columns: 711px 399px;
   grid-template-rows:  534px;
   grid-template-areas: result content__details;
   gap:30px;
   align-items: end;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 404px;
  padding-bottom: 16px;
}

.result__video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;

}

.content__details {
  inline-size: 108%;
  block-size: 86%;
  display: flex;
  flex-direction: column;
  gap:26px;
}

.title {
    min-inline-size: 399px;
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    line-height: 94%;
    text-transform: uppercase;
    
}

.content__accent {
  color: #fff;
}

.content__list-container {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__list-item {
  padding-top:26px;
  padding-right: 32px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 114px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
display:flex;
flex-direction: column;
flex-grow: 1;
}


